/* body {
    background-color: green;
} */

.header {
    width:100%;
    height:120px;
    background-color: black;
}
.main {
    width:100%;
    height:600px;
    background-color: rgb(255, 255, 255)
    display: flex; /* дозвіл на переміщення *
    flex-direction: row; /* переміщення з право на ліво *
}

.footer {
    width: 100%;
    height: 120px;
    background-color: black;

.block-1 {
    width: 30%;
    height: 120px;
    background-color: rgb(255, 102, 0);
}
.block-2 {
    width: 30%;
    height: 120px;
    background-color: rgb(128, 0, 255);
}

h1 {
    color: rgb(0, 128, 1);
}
